.intro__unnumbered-list{
    width: 690px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

@media screen and (max-width: 1024px){

    .intro__unnumbered-list{
        width: 720px;
    }
}

@media screen and (max-width: 768px){

    .intro__unnumbered-list{
        width: 288px;
    }
}