.cover__link{
    position: relative;
    width: 1184px;
    height: 740px;
    background-image: url(../../../image/cover__background.jpg);
    background-size: cover;
    text-decoration: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover__link::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 350ms easy;
    background-color:rgb(42, 44, 47);
}

.cover__link:hover::before{
    opacity: 0.8;
}


.cover__link:hover{
    cursor: url(../../../image/Imported\ Layers\ Copy4.png), pointer;
}

@media screen and (max-width: 1280px){

    .cover__link{
        max-width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 1024px){

    .cover__link{
        max-width: 768px;
        height: 480px;
    }
}    

@media screen and (max-width: 768px){

    .cover__link{
        max-width: 320px;
        height: 200px;
    }
}