.photo-grid{
    max-width: 1184px;
    margin: 92px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media screen and (max-width: 1280px){

    .photo-grid{
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}    

@media screen and (max-width: 1024px){

    .photo-grid{
        max-width: 720px;
        margin: 88px auto 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
}

@media screen and (max-width: 767px){

    .photo-grid{
        max-width: 288px;
        margin: 64px auto 0px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
}