.places{
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 92px auto 0px;
}

@media screen and (max-width: 1024px){
    
    .places{
        max-width: 720px;
        margin: 88px auto 0px;
    }
}

@media screen and (max-width: 768px){

    .places{
        max-width: 320px;
        margin: 64px auto 0px;
    }

}