@font-face{
    src: url(./Inter/Inter-ExtraBold.woff) format('woff');
    font-family: "Inter";
    font-weight: 900;
    font-style: normal;
}

@font-face{
    src: url(./Inter/Inter-Black.woff) format('woff');
    font-family: "Inter";
    font-weight: bold;
    font-style: normal;
}

@font-face{
    src: url(./Inter/Inter-Regular.woff) format('woff');
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
}

.page{
    background-color: #2A2C2F;
    min-width: 320px;
    min-height: 6875px;
    max-height: 9630px;
    overflow-x: hidden;
}

.header{
    margin: 0px 48px 56px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    min-width: 1184px;
    height: 52px;
}

.header__logo{
    width: 176px;
    height: 52px; 
}

.header__unnumbered-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header__list:nth-of-type(1) .header__lang-link{
    width: 30px;
    text-decoration: underline;
}

.header__lang-link{
    margin-right: 18px;
    width: 29px;
    height: 28px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
}

.lead{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984px;
    height: 1005px;
}

.lead__title{
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    width: 720px;
    height: 200px;
    margin: 0px auto 32px;
    color: #FFFFFF;
}

.lead__subtitle{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
    width: 640px;
    height: 72px;
    margin: 0px auto 64px;
}

.lead__image{
    width: 984px;
    height: 615px;
    margin: 0px;
}

.lead__caption{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height, or 140% */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    min-width: 158px;
    height: 14px;
    align-self: flex-start;
    margin-top: 8px;
    color: #FFFFFF;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 690px;
    height: 429px;
    margin-top: 92px;
    margin-left: 148px;
}

.intro__title{
    width: 690px;
    height: 58px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */
    color: #FFFFFF;
    margin: 0px 0px;
}

.intro__text{
    width: 690px;
    height: 208px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    /* or 26px*/
    color: #FFFFFF;
    margin: 40px 0px 33px;
}

.intro__unnumbered-list{
    width: 690px;
    height: 90px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.intro__list{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    color: #FFFFFF;
}

.intro__list-span{
    font-weight: bold;
}

.photo-grid{
    width: 1184px;
    height: 671px;
    margin: 92px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item{
    width: 100%;
    height: 100%;
}

.places{
    display: flex;
    flex-direction: column;
    width: 984px;
    max-height: 3392px;
    margin: 92px auto 0px;
}

.place__unnumbered-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.place{
    display: flex;
    flex-flow: column wrap;
    width: 984px;
    max-height: 660px;
    min-height: 584px;
    margin: 0;
    margin-bottom: 80px;
}

.place:nth-last-of-type(1){
    margin: 0;
}

/*.place:nth-of-type(3n-2) .place__website{
    margin: 106px 28px 48px 0px;
}*/


.place__title{
    width: 460px;
    margin: 0px 40px 48px 0px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    color: #FFFFFF;
}

.place__image{
    width: 460px;
    height: 460px;
}

.place__website{
    width: 456px;
    height: 46px;
    margin: 30px 28px 48px 0px;
}

.place__website_url-heading{
    margin:0px 0px 12px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__website_link{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__website_link:hover{
    cursor: url(./image/Imported\ Layers\ Copy\ 4.png), pointer;
}

.place__paragraph{
    width: 484px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 26px;
}

.place__paragraph:nth-of-type(2n){
    margin-bottom: 0;
}

.cover{
    position: relative;
    width: 1184px;
    height: 740px;
    margin: 92px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.cover:hover .cover__overlay{
    opacity: 0.8;
}

.cover__title{
    width: 560px;
    height: 152px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    margin: 245px auto 32px;
}

.cover__subtitle{
    width: 360px;
    height: 66px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    margin: 0px auto 245px;
    text-decoration: none;
}

.cover__subtitle:hover{
    cursor: url(./image/Imported\ Layers\ Copy\ 4.png), pointer;
}

.cover__background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1184px;
    height: 740px;
    z-index: 0;
}

.cover__overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1184px;
    height: 740px;
    z-index: 1;
    background-color:rgba(42, 44, 47, 0.3);
    transition: opacity 350ms easy;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1184px;
    height: 18px;
    margin: 92px 48px 0px;
    padding-bottom: 24px;
}

.footer__unnumbered-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.footer__link{
    width: 50px;
    height: 18px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:hover{
    cursor: url(./image/Imported\ Layers\ Copy\ 4.png), pointer;
}

.footer__copyright{
    min-width: 186px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    color: #FFFFFF;
    margin: 0px;
}

@media screen and (max-width: 1280px){
    .header{
        margin: 0px 48px 48px;
        padding-top: 28px;
        display: flex;
        justify-content: space-between;
        min-width: 928px;
        height: 52px;
    }

    .lead{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 928px;
        height: 962px;
    }
    
    .lead__subtitle{
        margin: 0px auto 56px;
    }
    
    .lead__image{
        width: 928px;
        height: 580px;
        margin: 0px;
    }

    .intro{
        margin-left: 48px;
    }

    .photo-grid{
        width: 928px;
        height: 942px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
    
    .place{
        width: 928px;
        max-height: 640px;
        min-height: 564px;
    }
    
    .place__title{
        width: 440px;
        margin-right: 32px;
    }
    
    .place__image{
        width: 440px;
        height: 440px;
    }
    
    .place__website{
        margin-right: 0px;
    }
    
    .place__paragraph{
        width: 456px;
        margin: 0;
        margin-bottom: 26px;
    }
    
    .place__paragraph:nth-of-type(2n){
        margin-bottom: 7px;
    }

    .cover{
        width: 1024px;
        height: 640px;
    }

    .cover__title{
        margin: 195px auto 32px;
    }

    .cover__subtitle{
        margin: 0px auto 195px;
    }

    .cover__background{
        width: 1024px;
        height: 640px;
    }
    
    .cover__overlay{
        width: 1024px;
        height: 640px;
    }

    .footer{
        min-width: 928px;
        height: 18px;
    }
}

@media screen and (max-width: 1024px){
    .header{
        margin: 0px 24px 48px;
        min-width: 720px;
    }
    
    .lead{
        width: 768px;
        height: 862px;
    }
    
    .lead__subtitle{
        margin: 0px auto 56px;
    }
    
    .lead__image{
        width: 768px;
        height: 480px;
    }
    
    .intro{
        width: 720px;
        height: 429px;
        margin-top: 88px;
        margin-left: 24px;
    }
    
    .intro__title{
        width: 720px;
    }
    
    .intro__text{
        width: 720px;
    }
    
    .intro__unnumbered-list{
        width: 720px;
    }
    
    .photo-grid{
        width: 720px;
        height: 1664px;
        margin: 88px auto 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
    
    .places{
        width: 720px;
        min-height: 2808px;
        /*max-height: 2808px;*/
        margin: 88px auto 0px;
    }
    
    .place{
        width: 720px;
        max-height: 581px;
        min-height: 434px;
        margin: 0;
        margin-bottom: 73px;
    }

    .place__title{
        width: 340px;
        margin: 0px 28px 48px 0px;
        font-size: 42px;
        line-height: 46px;
        /* or 110% */
    }
    
    .place__image{
        width: 340px;
        height: 340px;
        margin-bottom: 101px;
    }

    .place__website{
        width: 352px;
        margin: 0px 0px 48px;
    }

    .place__paragraph{
        width: 352px;
        margin: 0;
        font-size: 16px;
        margin-bottom: 25px;
    }

    .place__paragraph:nth-of-type(2n){
        margin-bottom: 0px;
    } 

    .place__paragraph:nth-last-of-type(1){
        margin-bottom: 0px;
    } 

    .cover{
        width: 768px;
        height: 480px;
        margin: 90px auto 0px;
    }

    .cover__title{
        width: 560px;
        height: 152px;
        margin: 115px auto 32px;
    }
    
    .cover__subtitle{
        margin: 0px auto 115px;
    }
       
    .cover__background{
        width: 768px;
        height: 480px;
    }
    
    .cover__overlay{
        width: 768px;
        height: 480px;
    }
    
    .footer{
        min-width: 720px;
        margin: 88px 24px 0px;
        padding-bottom: 24px;
    }
    
    .footer__link{
        width: 57px;
    }
}

@media screen and (max-width: 768px){
    .header{
        margin: 0px 16px 48px;
        padding-top: 16px;
        min-width: 288px;
        height: 42px;
    }
    
    .header__logo{
        width: 142px;
        height: 42px; 
    }
    
    .header__list:nth-of-type(1) .header__lang-link{
        text-decoration: underline;
    }
    
    .header__lang-link{
        margin-right: 18px;
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        /* identical to box height, or 111% */
    }
    
    .lead{
        width: 320px;
        height: 406px;
    }
    
    .lead__title{
        font-size: 40px;
        line-height: 44px;
        /* or 104% */
        width: 288px;
        height: 88px;
        margin: 0px auto 16px;
    }
    
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        /* or 120% */
        width: 288px;
        height: 40px;
        margin: 0px auto 40px;
    }
    
    .lead__image{
        width: 320px;
        height: 200px;
        margin: 0px;
    }
    
    .lead__caption{
        min-width: 158px;
        height: 14px;
    }
    
    .intro{
        width: 288px;
        height: 754px;
        margin-top: 64px;
        margin-left: 16px;
    }
    
    .intro__title{
        width: 288px;
        height: 70px;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 109% */
    }
    
    .intro__text{
        width: 288px;
        height: 520px;
        margin: 40px 0px 34px;
    }
    
    .intro__unnumbered-list{
        width: 288px;
    }
    
    .photo-grid{
        width: 288px;
        height: 2724px;
        margin: 64px auto 0px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
    
    .places{
        width: 320px;
        max-height: 4784px;
        margin: 64px auto 0px;
    }
       
    .places:nth-last-of-type(1) .place__paragraph{
        margin: 0;
    }

    .place{
        width: 320px;
        max-height: 964px;
        min-height: 886px;
        margin: 0;
        margin-bottom: 49px;
    }

    .place__title{
        width: 288px;
        margin: 0px auto 32px;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */
    }
    
    .place__image{
        width: 320px;
        height: 320px;
        margin-bottom: 32px;
    }

    .place__website{
        display: none;
    }
    
    .place__paragraph{
        width: 288px;
        margin: 0px 16px 25px;
    }

    .place__paragraph:nth-of-type(2n){
        margin-bottom: 0px;
    }

    .cover{
        width: 320px;
        height: 200px;
        margin: 66px auto 0px;
    }
    
    .cover__title{
        width: 288px;
        height: 70px;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */
        margin: 33px auto 16px;
    }
    
    .cover__subtitle{
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
        margin: 0px auto 33px;
    }
    
    .cover__background{
        width: 320px;
        height: 200px;
    }
    
    .cover__overlay{
        width: 320px;
        height: 200px;    
    }
    
    .footer{
        flex-direction: column;
        min-width: 186px;
        height: 310px;
        margin-top: 64px;
        margin-left: 16px;
        padding-bottom: 24px;
    }
    
    .footer__unnumbered-list{
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .footer__list-link{
        min-width: 74px;
        height: 24px;
        margin: 0px 112px 32px 0px;
    }

    .footer__list-link:nth-last-child(1){
        margin-bottom: 0px;
    }
    
    .footer__link{
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */
    }
    
    .footer__copyright{
        min-width: 186px;
        height: 14px;
        font-size: 14px;
        line-height: 14px;
        /* identical to box height, or 100% */
    }
    
}