.place__image{
    max-width: 460px;
    height: 460px;
    margin-right: 40px;
}

@media screen and (max-width: 1280px){

    .place__image{
        max-width: 440px;
        height: 440px;
        margin-right: 32px;
    }
}    

@media screen and (max-width: 1024px){

    .place__image{
        max-width: 340px;
        height: 340px;
        margin-bottom: 101px;
        margin-right: 28px;
    }
}

@media screen and (max-width: 768px){

    .place__image{
        max-width: 320px;
        height: 320px;
        margin-bottom: 32px;
    }
}