.cover__subtitle{
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 3;
    margin: 0px auto;
}

@media screen and (max-width: 768px){

    .cover__subtitle{
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        /* or 114% */
    }
}