.header{
    margin: 0px auto 56px;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

@media screen and (max-width: 1280px){
    .header{
        margin: 0px auto 48px;
        max-width: 928px;
    }
}

@media screen and (max-width: 1024px){
    .header{
        max-width: 720px;
    }
}

@media screen and (max-width: 768px){
    .header{
        padding-top: 16px;
        max-width: 288px;
    }
}