.footer__link{
    max-width: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
    transition: opacity 0.35s ease 0s;
}

.footer__link:hover{
        cursor: url(../../../image/Imported\ Layers\ Copy4.png), pointer;
        opacity: 0.8;
}

@media screen and (max-width: 1024px){

    .footer__link{
        max-width: 57px;
    }
}

@media screen and (max-width: 767px){

    .footer__link{
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */
    }
}