.footer__copyright{
    max-height: max-content;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    text-align: right;
    color: #FFFFFF;
    margin: 0px;
}

@media screen and (max-width: 767px){

    .footer__copyright{
        line-height: 14px;
        /* identical to box height, or 100% */
        text-align: left;
        margin-top: 48px;
    }
    
}