.lead__image{
    max-width: 984px;
    height: 615px;
    margin: 0px;
}

@media screen and (max-width: 1280px){

    .lead__image{
        max-width: 928px;
        height: 580px;
    }
}

@media screen and (max-width: 1024px){

    .lead__image{
        max-width: 768px;
        width: 100%;
        height: 480px;
    }
}

@media screen and (max-width: 768px){

    .lead__image{
        max-width: 320px;
        height: 200px;
        margin: 0px;
    }
}