.place__website_url-heading{
    margin:0px 0px 12px;
    max-height: 12px;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    color: #AAAAAA;
}