.intro__text{
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    /* or 26px*/
    color: #FFFFFF;
    margin: 40px 0px 33px;
}

@media screen and (max-width: 1024px){

    .intro__text{
        max-width: 720px;
    }
}

@media screen and (max-width: 767px){

    .intro__text{
        max-width: 288px;
    }
}