.intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 690px;
    margin-top: 92px;
    margin-left: 148px;
}

@media screen and (max-width: 1280px){

    .intro{
        max-width: 928px;
        margin: 92px auto 0px;
    }
}

@media screen and (max-width: 1024px){

    .intro{
        max-width: 720px;
        margin: 88px auto 0px;
    }
}

@media screen and (max-width: 767px){

    .intro{
        max-width: 288px;
        margin: 64px auto 0px;
    }
}