.place__link{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity 0.35s ease 0s;
}

.place__link:hover{
    cursor: url(../../../image/Imported\ Layers\ Copy4.png), pointer;
    opacity: 0.8;
}