.place{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 984px;
    margin: 0;
    margin-bottom: 80px;
}

.place:nth-last-of-type(1){
    margin: 0;
}

/*.place:nth-of-type(3n-2) .place__website{
    margin: 106px 28px 48px 0px;
}*/

@media screen and (max-width: 1280px){

    .place{
        max-width: 928px;
    }
}

@media screen and (max-width: 1024px){

    .place{
        max-width: 720px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 768px){

    .place{
        max-width: 320px;
        margin-bottom: 49px;
    }
}