.place{
    display: flex;
    flex-flow: column wrap;
    width: 984px;
    max-height: 660px;
    min-height: 584px;
    margin: 0;
    margin-bottom: 80px;
}

.place:nth-last-of-type(1){
    margin: 0;
}

/*.place:nth-of-type(3n-2) .place__website{
    margin: 106px 28px 48px 0px;
}*/

@media screen and (max-width: 1280px){

    .place{
        width: 928px;
        max-height: 640px;
        min-height: 564px;
    }
}

@media screen and (max-width: 1024px){

    .place{
        width: 720px;
        max-height: 581px;
        min-height: 434px;
        margin: 0;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 768px){

    .place{
        width: 320px;
        max-height: 964px;
        min-height: 886px;
        margin: 0;
        margin-bottom: 49px;
    }
}