.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1184px;
    margin: 92px auto 0px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1280px){

    .footer{
        max-width: 928px;
    }
}

@media screen and (max-width: 1024px){

    .footer{
        max-width: 720px;
        margin: 88px auto 0px;
    }
}

@media screen and (max-width: 768px){

    .footer{
        flex-direction: column;
        max-width: 186px;
        margin: 64px auto 0px;
    }
}