.place__website{
    max-width: 456px;
    width: 100%;
    margin: 30px 28px 48px 0px;
    align-self: flex-end;
}

@media screen and (max-width: 1280px){

    .place__website{
        margin-right: 0px;
    }
}

@media screen and (max-width: 1024px){

    .place__website{
        max-width: 352px;
        margin: 0px 0px 48px;
    }
}

@media screen and (max-width: 767px){

    .place__website{
        display: none;
    }
}