.intro__title{
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */
    color: #FFFFFF;
    margin: 0px 0px;
}

@media screen and (max-width: 1024px){

    .intro__title{
        max-width: 720px;
    }
}

@media screen and (max-width: 768px){

    .intro__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        /* identical to box height, or 109% */
    }
}